<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Niramit:300i,400,400i,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:500,500i,700,700i,800,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
          crossorigin="anonymous">
    <link rel="stylesheet" href="css/stylesheet.css">
    <title>Administrator</title>
</head>
<body class="admin-page">
    <div class="dark-admin-bg"></div>
    <div class="top">
        <a href="/admin" class="fas fa-arrow-left back-button"></a>
        <h1>user management</h1>
        <form action="/user-manager-search" method="GET" class="admin-search-bar">
                <input type="text" placeholder="Search by name, id..." name="search">              
                <button class="fas fa-search admin-search-button" type="submit"></button>
        </form>
    </div>
    <section>
        <div class="tbl-header">
          <table cellpadding="0" cellspacing="0" border="0">
            <thead>
              <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Last login time</th>
                <th>Permission</th>
                <th>Action</th>
              </tr>
            </thead>
          </table>
        </div>
        <div class="tbl-content">
          <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
                <% for(let users of data) {%>
                <tr>
                    <td><%= users.userId%></td>
                    <td><%= users.username%></td>
                    <td><%= formatDate(users.timeLogin)%></td>
                    
                    <td>
                        <form action="/user-update-permission" method="POST" style="display:inline-block">
                            <select class="permission" name="permission">
                                <option value="1" <% if(users.permission === 1) { %> selected <% } %>>Admin</option>
                                <option value="2" <% if(users.permission === 2) { %> selected <% } %>>User</option>
                            </select>
                            <input type="hidden" name="userId" value="<%= users.userId%>">
                            
                            <button class="delete-badge update-badge">Update</button>
                        </form>
                    </td>
                    <td>                          
                        <form action="/user-delete" method="POST" style="display:inline-block">
                            <input type="hidden" name="userId" value="<%= users.userId%>">
                            
                            <button class="delete-badge badge">Delete</button>
                        </form>
                        
                    </td>
                </tr>
                <% } %>
                
            </tbody>
          </table>
        </div>
      </section>


    <script src="/scripts/admin.js"></script>
</body>
</html>